<!DOCTYPE html>
<html>
	<head>
		<title>Shruthi Venkatesh</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<h1>Shruthi Venkatesh</h1>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/contact">Contact</a></li>
        		<li><a href="/shruthi_cv.pdf">CV</a></li>
			<li><a href="/research">Research</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
			Welcome to my website. I'm a fourth-year doctoral candidate in Public Policy at Carnegie Mellon University, Heinz College. I study the impact of healthcare market structure on physician incentives and patient welfare.
       		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:shruthiv@cmu.edu">Email</a></li>
        		<li><a href="https://github.com/shruthi-venkatesh">Github</a></li>
			<li><a href="https://twitter.com/svenkatesh382">Twitter</a></li>
			</ul>
		</footer>
	</body>
</html>
